<!DOCTYPE html>
<html>
    <head>
        <title>Creative Studio</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <Link rel="stylesheet" href="http://www.w3schools.com/lib/w3.css" />
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <nav>
            <div class="logo">
                <h2>Gleam</h2>
            </div>
            <ul>
                <li>
                    <a href="index.html">Home</a>
                </li>
                <li>
                    <a href="gallery.html">Gallery</a>
                </li>
                <li>
                    <a href="about.html">About me</a>
                </li>
                <li>
                    <a href="contact.html">Contact</a>
                </li>
            </ul>
            <ul class="nav-links">
                <li>
                    <img src="images/facebook.svg" width=12 height=12 />
                </li>
                <li>
                    <img src="images/instagram.svg" width=12 height=12 />
                </li>
                <li>
                    <img src="images/twitter.svg" width=12 height=12 />
                </li>
            </ul>
        </nav>
    </body>
</html>